{%extends 'base.html'%}
{%load bootstrap3 %}
{% block content%}
	<div class="row container" style="padding-bottom:20px;">
		
			<div class="col-md-3" style="padding-top: 24px">
				{%if user.join%}
                {% include 'sidebars/hoodbar.html'%}
				{%endif%}
			</div>
			<div class="col-md-8">
				{% include 'sidebars/allhoodsbar.html'%}
				
				    	<div class="row">
				    		{% if business %}
						     	{% for biz in business %}
							    	<div class="col-md-6">
										<div class="panel panel-default">
											
											<div class="panel-heading">
												{{biz.biz_name}}
											</div>
											<div class="panel-body">
												<p>{{biz.biz_description}}</p>
												
												
											</div>
											
											

										</div>
									</div>

						    	{%endfor%}
						    {% else %}
							    
						    	<div class="panel-body">
								<h4 class="text-center">No Business in the neighbourhood with the title <strong>{{message}}</strong> exists!</h4>
							</div>
						    {% endif %}
				    	</div>
				    </div>
			
				  </div>

				</div>
				</p>
					
			</div>
			<div class="col-md-1"></div>
		
	</div>
	<div class="row">
		
	</div>


{%endblock%}


