{%extends 'base.html'%}
{%load bootstrap3 %}
{% block content%}
	<div class="row container" style="padding-bottom:20px;">
		
			<div class="col-md-3" style="padding-top: 24px">
				{%if user.join%}
                {% include 'sidebars/hoodbar.html'%}
				{%endif%}

			</div>
			<div class="col-md-8">
                    {% include 'sidebars/allhoodsbar.html'%}
				<h2><strong>{{hood.hood_name}}</strong></h2>
				<h4>Hood: <strong>{{hood.hood_location}}</strong> Hood Population : <strong>{{hood.hood_count}}</strong></h4>
				<h4>{{hood.user_bio}}</h4>
				<a class="btn btn-danger" href="{% url 'exitHood' hood.id%}">Exit Neighbourhood</a>
				<a class="btn btn-success" href="{% url 'hoodPost' %}">Create Post</a>
					
			</div>
			<div class="col-md-1"></div>
		
	</div>
	<h1 class="text-center">POSTS</h1>
	{%if posts%}
				    	
			<div class="row">
				{% for post in posts %}
				
					<div class="panel panel-default">
						<div class="panel-body">
						<div class="col-md-2">
							{{post.user.first_name}} {{post.user.last_name}}
						</div>
						<div class="col-md-7">
							<p>
								<strong><a href="{% url 'singlePost' post.id %}">{{post.title}} :</a></strong>
							    {{post.body}}
						 </p>
						</div>
						<div class="col-md-3">
								
						</div>
						
						</div>
					</div>


				{% endfor %}
				
			</div>

			{% else %}
			<h4 class="text-center">No Post has been created for this hood yet. Be the first to create on <a href="{% url 'createPost' %}">here</a></h4>
			{% endif %}

			<h1 class="text-center">BUSINESS</h1>
			<form class="" class="" action="{% url 'searchBusiness' %}">
				<div class="form-group">
				  <input type="text" class="form-control" placeholder="Search Business" name = "searchBusiness">
				</div>
				
			</form>
			<div class="row">
				{% if business %}
					 {% for biz in business %}

						<div class="col-md-6">
							<div class="panel panel-default">
								
								<div class="panel-heading">
									{{biz.biz_name}}
								</div>
								<div class="panel-body">
									<p>{{biz.biz_description}}</p>
									
									
								</div>
								
								

							</div>
						</div>

					{%endfor%}
				{% else %}
					<h4 class="text-center">No Business has been created for this hood yet. Be the first to create on <a href="{% url 'createBusiness' %}">here</a></h4>
				{% endif %}
			</div>
	


{%endblock%}


