{%extends 'base.html'%}
{%block content%}
		{% if user.join %}
		<div class="jumbotron text-center" style="font-size:20px; background-color:ghostwhite;height:50px;padding:0px;color:black">	
				<a href="{%url 'profile' %}" style="margin-right:10px;">Profile |</a>
				<a href="{% url 'createBusiness' %}" style="margin-right:10px;">Create Business |</a>
				<a href="{% url 'business' %}" style="margin-right:10px;">My Businesses |</a>
				<a href="{% url 'allPosts' %}" style="margin-right:10px;">My Posts |</a>
				<a href="{% url 'hoodPost' %}" style="margin-right:10px;">Create Post |</a>
				<a href="{% url 'createHood' %}" style="margin-right:10px;">Create Neighbourhoods |</a>
		</div>
		{% endif %}

<div class="row container" style="padding-bottom:20px">
	
		
				
					
				{% if allPosts %}
					{%for post in allPosts%}
					<div class="row">
						<div class="panel panel-default">
							
							
							<div class="panel-body">
                                <p>{{post.title}}</p>
                                <p>{{post.body}}</p>
								
								
							</div>
							
							

						</div>
					</div>
					{%endfor%}
				    {%else%}
						<h4>You havent created any forum posts yet. You can create one <a href="{% url 'hoodPost' %}">here</a> </h4>
				{%endif%}
							
			
			
			</div>
			<div class="col-md-2"></div>
			
		
	</div>


{%endblock%}