{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container-fluid">
		<div class="jumbotron text-center" style="font-size:20px; background-color:ghostwhite;height:50px;padding:0px;color:black">
				{% if user.join %}
				<a href="{%url 'profile' %}" style="margin-right:10px;">Profile |</a>
				<a href="{% url 'createBusiness' %}" style="margin-right:10px;">Create Business |</a>
				<a href="{% url 'business' %}" style="margin-right:10px;">My Businesses |</a>
				<a href="{% url 'allPosts' %}" style="margin-right:10px;">My Posts |</a>
				<a href="{% url 'hoodPost' %}" style="margin-right:10px;">Create Post |</a>
				<a href="" style="margin-right:10px;">My Hood |</a>
				<a href="" style="margin-right:10px;">Create Neighbourhoods |</a>
				
				{% endif %}
		</div>
		
		<div class="row container" style="padding-bottom:20px">
				<div class="col-md-3"></div>
					<div class="col-md-7">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="">Title: {{post.title}}</h3>
							</div>
							<div class="panel-body">
								{{post.body}}<br>
								
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Comments
							</div>
							<div class="panel-body">
								<form action = "{% url 'singlePost' post.id %}" method = "post">
									{%csrf_token%}
									{% bootstrap_form form %}
									<button type="submit" class="btn btn-primary btn-sm">Comment</button>
									
								</form>
								{% for comment in comments %}
								<div class="row container">
									<strong>{{comment.user}}</strong>: {{comment.comment}}
								</div>
								{%endfor%}
							</div>
						</div>
					
						
					
					</div>
					<div class="col-md-2">
						
					</div>
				
		</div>
		

</div>


{%endblock%}
