{%extends 'base.html'%}
{%block content%}



 
<div class="container-fluid">
	<div class="jumbotron">
		{% if user.join %}
		<a href="{%url 'profile' %}">Profile</a>
		<a href="{% url 'createBusiness' %}">Create Business</a>
		<a href="{% url 'business' %}">My Businesses</a>
		<a href="{% url 'allPosts' %}">My Posts</a>
		<a href="{% url 'hoodPost' %}">Create Post</a>
		<a href="">My Hood</a>
		<a href="">My Neighbourhoods</a>
		<a href="">Create Neighbourhoods</a>
		<a href="">Change neighbourhoods</a>
		{% endif %}
	</div>
		

	<h4>Welcome to Neighbourhood, create one <a href="{% url 'createHood' %}">here</a></h4>
	
	  <form  class="" action="">
	    <div class="form-group">
	      <input type="text" class="form-control" placeholder="Search Neighbourhood" name = "">
	    
	    </div>

	       <button type="submit" class="btn btn-default">Submit</button>
	   
	  </form>
		
	<div class="row" style="padding-top: 20px">

		
	
		{%for hood in hoods%}
		<div class="col-md-4">
			<div class="panel panel-default">
				
				<div class="panel-heading">
					{{hood.hood_location}}
				</div>
				<div class="panel-body">
                    <p>{{hood.hood_name}}</p>
                    <p>{{hood.hood_description}}</p>
                    
					
					
					<a href="{% url 'joinHood' hood.id %}" class="btn btn-sm btn-success">Join</a>
				</div>
				
				

			</div>
		</div>
		{%endfor%}
				
	
</div>
</div>


{%endblock%}